{% load staticfiles %}
{% load bootstrap3 %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO App</title>

    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}
    <link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}" />
    <script src="{% static 'todo/jquery.csrf.js' %}" type="text/javascript"></script>
    <script src="{% static 'todo/script.js' %}" type="text/javascript"></script>
</head>
<body>
    <header>
        {% include 'nav.html' %}
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% bootstrap_messages %}
            </div>
        </div>

        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
