{% extends 'base.html' %}
{% load tz %}
{% load task_priority %}

{% block content %}
    <div class="task-count">
        {% if task_count > 0 %}
        <h1>
            {% if task_count == 1 %}
                <strong>{{ task_count }}</strong> todo remains <strong>unfinished</strong>
            {% else %}
                <strong>{{ task_count }}</strong> todos remain <strong>unfinished</strong>
            {% endif %}

            <a href="{% url 'task_new' %}">Let's add another!</a>
        </h1>
        {% else %}
        <h1>
            <strong>No more tasks to finish.</strong>
            <a href="{% url 'task_new' %}">Be first! Create one.</a>
        </h1>
        {% endif %}
    </div>

    <hr/>

    <div class="tasks">
    {% for task in task_list %}
        <div class="task" data-id="{{ task.id }}">
            <div class="finish"></div>
            <div class="remove"></div>
            <h3>{% task_priority task.priority %}Task <strong>#{{ forloop.counter }}</strong></h3>
            <div class="task-body">
                <em>Created {{ task.created|localtime }} Modified {{ task.modified|localtime }}</em>
                <h4 class="content" contenteditable="true">{{ task.content }}</h4>
            </div>
        </div>
    {% endfor %}

    {% if task_list.count == 0 %}
        <h3>No more tasks left</h3>
    {% endif %}
    </div>
{% endblock %}
